@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

body {
	scroll-behavior: smooth;
}

.textOutline {
	-webkit-text-stroke: 1px black;
	color: white;
	text-shadow:
		3px 3px 0 #5dddcc,
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #5dddcc;
}

.headerImage {
	max-height: 200px;
	background-color: black;
	min-height: 100px;
	min-width: 300px;
}

.skillImage {
	max-height: 200px;
}

.rhombusFill {
	fill: white;
	stroke-width: 5;
}

.bgLandingGradient {
	background: linear-gradient(-45deg, #0f172a, #1e293b, #334155, #0f172a);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

.bgLandingGradientText {
	background: linear-gradient(-45deg, #000b31, #002a19, #dd5100, #ffd000);
	background-size: 400% 400%;
	animation: gradientBG 60s ease infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bgDrawersGradient {
	background: linear-gradient(-45deg, #1c1917, #292524, #44403c, #1c1917);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.glass-panel {
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}